<section class="container-fluid">
    <div class="content-header-page">
        <h4 class="text-secondary-custom fw-bold my-4 axiforma-semibold fs-26">Profissionais cadastrados</h4>
    </div>
    <div class="row">
        <div class="col-lg-9 mt-4" [formGroup]="Search">
            <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="Pesquise" formControlName="busca">
                <button mat-icon-button matSuffix (click)="search()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="col-lg-3 mt-4 d-flex align-items-center">
            <!-- <button class="btn btn-outline-dark me-3" style="height: 56px;" (click)="openFilters()">
                <mat-icon>filter_alt</mat-icon>
            </button> -->
            <button class="btn btn-dark w-100" style="height: 56px;" (click)="openMap()" [disabled]="!employers.length">
                <span *ngIf="!mapOn" class="rawline-bold">
                    Mapa
                </span>
                <span *ngIf="mapOn" class="rawline-bold">
                    Lista
                </span>
            </button>
        </div>
        <div class="col-12" *ngIf="filtersOn">
            <form [formGroup]="formSearch">
                <div class="d-flex align-items-center justify-content-between flex-wrap">
                    <mat-form-field appearance="outline" class="mt-4">
                        <mat-label>UF</mat-label>
                        <mat-select formControlName="uf">
                            <mat-option value="" [disabled]="true">Selecione</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mt-4">
                        <mat-label>Cidade</mat-label>
                        <mat-select formControlName="city">
                            <mat-option value="" [disabled]="true">Selecione</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mt-4">
                        <mat-label>Escolaridade</mat-label>
                        <mat-select formControlName="education">
                            <mat-option value="" [disabled]="true">Selecione</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mt-4">
                        <mat-label>Profissão</mat-label>
                        <mat-select formControlName="profession">
                            <mat-option value="" [disabled]="true">Selecione</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mt-4">
                        <mat-label>Gênero</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option value="" [disabled]="true">Selecione</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mt-4">
                        <mat-label>Sexo</mat-label>
                        <mat-select formControlName="sex">
                            <mat-option value="" [disabled]="true">Selecione</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mt-4">
                        <mat-label>Cor/Raça</mat-label>
                        <mat-select formControlName="colorRace">
                            <mat-option value="" [disabled]="true">Selecione</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-4">
                    <div class="d-flex align-items-center">
                        <mat-slide-toggle color="primary">Disponibilidade de mão de obra</mat-slide-toggle>
                        <mat-slide-toggle class="ms-3" color="primary">Disponibilidade de materiais</mat-slide-toggle>
                    </div>
                    <div class="d-flex align-items-center">
                        <button mat-button class="fs-16 rawline-bold color-primary me-3"
                            (click)="openFilters()">Cancelar</button>
                        <button mat-stroked-button class="fs-16 rawline-bold" (click)="submit()"
                            style="min-width: 193px;">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row" *ngIf="!mapOn">
        <div class="col-12 mt-4">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="rawline-bold fs-14">Profissional</th>
                            <th scope="col" class="rawline-bold fs-14">Agente Promotor</th>
                            <th scope="col" class="rawline-bold fs-14">Visitas Realizadas</th>
                            <th scope="col" class="rawline-bold fs-14">Obras Cadastradas</th>
                            <th scope="col" class="rawline-bold fs-14">Obras Concluidas</th>
                            <th scope="col" class="rawline-bold fs-14">Ações</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of response | paginate: { itemsPerPage: 10, currentPage: page }">
                        <tr  *ngFor="let employee of item.employees | paginate: { itemsPerPage: 10, currentPage: page }">
                            <td class="rawline-medium fs-14">{{employee.user.name}}</td>
                            <td class="rawline-medium fs-14">{{item.name}}</td>
                            <td class="rawline-medium fs-14">{{item.state}} - {{item.uf}}</td>
                            <td class="rawline-medium fs-14">-</td>
                            <td class="rawline-medium fs-14">{{item.demands}}</td>
                            <td >
                                <mat-icon class="color-gray cursor-pointer" (click)="openProfessionalDetails(employee.id)">person_search</mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="submited" class="d-flex align-items-center justify-content-center mt-5">
                <img src="../../../assets/imgs/not-response.png" alt="">
            </div>
            <div class="d-flex justify-content-end mt-3">
                <span class="rawline-medium fs-14">Total de <span class="rawline-bold">{{response.length}}
                        registros</span></span>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
    <div class="container mt-3" *ngIf="mapOn">
        <app-map [response]="employers"></app-map>
    </div>
</section>

<app-loading-data *ngIf="loading" [message]="message"></app-loading-data>
