.people{
    position:absolute;
    z-index: 0;
    right: 0px;
    bottom: 0px;
}

.construction{
    position:absolute;
    z-index: 0;
    right: 0px;
    bottom: 0px;
}

.demand{
    position:absolute;
    z-index: 0;
    right: 0px;
    bottom: 0px;
}

.help{
    position:absolute;
    z-index: 0;
    right: 0px;
    bottom: 0px;
}

.inconsistency{
    position:absolute;
    z-index: 0;
    right: 0px;
    bottom: 0px;
}