<section class="container-fluid position-relative">
    <div class="btn-back-custom-content">
        <button class="btn btn-outline-dark d-flex justify-content-center align-items-center p-2"
            (click)="back()"><mat-icon>arrow_back</mat-icon></button>
    </div>
    <div class="row min-vh-100 justify-content-center align-items-center">
        <div class="col-md-5 col-lg-4 col-xl-3">
            <mat-card appearance="outlined" class="animate__animated animate__fadeIn" *ngIf="step1">
                <mat-card-content>
                    <div class="d-flex justify-content-center align-items-center my-4">
                        <img src="../../../assets/imgs/laco.png" width="200px" alt="">
                    </div>
                    <form [formGroup]="form">
                        <div class="d-flex flex-column">
                            <p class="rawline-medium">Enviaremos um email com um código para confirmar sua identidade.</p>
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email" type="email">
                            </mat-form-field>
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button mat-raised-button
                                class="w-100 text-white btn-primary-custom" [disabled]="form.invalid" (click)="submit()">Confirmar</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined" class="animate__animated animate__fadeIn" *ngIf="step2">
                <mat-card-content>
                    <div class="d-flex justify-content-center align-items-center my-4">
                        <img src="../../../assets/logo.png" alt="">
                    </div>
                    <form [formGroup]="formCode">
                        <div class="d-flex flex-column">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput [value]="form.controls['email'].value" type="email" readonly="">
                            </mat-form-field>
                            <p class="rawline-medium">Insira o código que enviamos para seu email para prosseguirmos.</p>
                            <div class="d-flex align-items-center justify-content-center">
                                <input type="tel" #txt1 class="form-control text-center" formControlName="code1"
                                    (keyup)="move($event, '',txt1,txt2)" maxlength="1"
                                    style="background-color: white !important; color: #22232E !important;">

                                <input type="tel" #txt2 mask="0" class="form-control mx-2 text-center"
                                    formControlName="code2" (keyup)="move($event,txt1,txt2,txt3)" maxlength="1"
                                    style="background-color: white !important; color: #22232E !important;">

                                <input type="tel" #txt3 class="form-control mx-2 text-center" formControlName="code3"
                                    (keyup)="move($event, txt2,txt3,txt4)" maxlength="1"
                                    style="background-color: white !important; color: #22232E !important;">

                                <input type="tel" #txt4 class="form-control mx-2 text-center" formControlName="code4"
                                    (keyup)="move($event, txt3,txt4,txt5)" maxlength="1"
                                    style="background-color: white !important; color: #22232E !important;">

                                <input type="tel" #txt5 class="form-control mx-2 text-center" formControlName="code5"
                                    (keyup)="move($event, txt4,txt5,txt6)" maxlength="1"
                                    style="background-color: white !important; color: #22232E !important;">

                                <input type="tel" #txt6 class="form-control text-center" formControlName="code6"
                                    (keyup)="move($event, txt5,txt6,'')" maxlength="1"
                                    style="background-color: white !important; color: #22232E !important;">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button mat-raised-button
                                class="w-100 text-white btn-primary-custom" (click)="submitCode()" [disabled]="formCode.invalid">Confirmar</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined" class="animate__animated animate__fadeIn" *ngIf="step3">
                <mat-card-content>
                    <div class="d-flex justify-content-center align-items-center my-4">
                        <img src="../../../assets/logo.png" alt="">
                    </div>
                    <form [formGroup]="formPassword">
                        <div class="d-flex flex-column">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput [value]="form.controls['email'].value" type="email" readonly="">
                            </mat-form-field>
                            <p class="rawline-medium">Cadastre sua melhor senha.</p>
                            <mat-form-field appearance="outline" class="mt-3">
                                <mat-label>Senha</mat-label>
                                <input matInput formControlName="password" [type]="showPassword ? 'text' : 'password'">
                                <mat-icon matSuffix (click)="showPassword = !showPassword"
                                    class="cursor-pointer">{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="mt-3">
                                <mat-label>Confirmar senha</mat-label>
                                <input matInput formControlName="passwordConfirm"
                                    [type]="showPasswordConfirm ? 'text' : 'password'">
                                <mat-icon matSuffix (click)="showPasswordConfirm = !showPasswordConfirm"
                                    class="cursor-pointer">{{showPasswordConfirm ? 'visibility' :
                                    'visibility_off'}}</mat-icon>
                            </mat-form-field>
                            <div *ngIf="formPassword.errors?.['passwordsMismatch'] && (formPassword.controls['password'].touched || formPassword.controls['passwordConfirm'].touched)"
                                class="text-danger mt-3 rawline-medium">
                                As senhas não coincidem.
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button mat-raised-button
                                class="w-100 text-white btn-primary-custom" (click)="submitPassword()" [disabled]="formPassword.invalid || formPassword.errors?.['passwordsMismatch']">Confirmar</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>